.uud-container {
  /* background: rgba(4, 9, 26, 0.98); */
  background: rgba(255, 255, 255, 0.212);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uud-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 11px 12px 0px 0px rgba(255, 255, 255, 0.22);
  background: #fff;

  padding: 0 5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
  max-width: 500px;
  min-width: 380px;
}

.uud-title {
  text-align: left;
  width: 100%;
  color: #5761bb;
  margin: 0;
  padding: 1rem 0;
  padding-bottom: 0.4rem;
}

.uud-sub-title {
  opacity: 0.44;
  margin-top: 0;
}

.uud-username-label {
  text-align: left;
  width: 100%;
  font-size: 14px;
  opacity: 0.8;
}

.uud-username-input {
  margin: 0.8rem;
  border: 1px solid rgba(175, 173, 173, 0.356);
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

[name='newUsername'] {
  margin-bottom: 1.2rem;
}

.uud-username-input:focus {
  outline: none;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.055);
}

.uud-submit {
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background: #5761bb;
  color: #fff;
  width: 100%;
  border: none;
}

@media (max-width: 600px) {
  .uud-container {
    align-items: flex-start;
    height: -moz-fit-content;
    height: fit-content;
  }

  .uud-form {
    padding: 45px 15px;
    max-width: 1000px;
    min-width: 280px;
    box-shadow: -1px 13px 0px 0px rgba(255, 255, 255, 0.22) !important;
  }
}

/* mobile horizontal view  */
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .uud-container {
    height: fit-content;
  }

  .uud-container form {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
