.reset-password-container {
  height: 100vh;
  background: rgba(255, 255, 255, 0.212);
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-password-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-shadow: 11px 12px 0px 0px rgba(255, 255, 255, 0.22);
}

.rp-form {
  background: #fff;
  padding: 0 5rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  width: 60%;
  max-width: 500px;
  min-width: 380px;
  box-shadow: 1px 1px 14px -2px rgba(0, 0, 0, 0.53);
}

.rp-title {
  text-align: left;
  width: 100%;
  color: #5761bb;
  margin: 0;
  padding: 1rem 0;
  padding-bottom: 0.4rem;
}

.rp-sub-title {
  opacity: 0.44;
  margin-top: 0;
}

.rp-password-label {
  text-align: left;
  width: 100%;
}

.rp-password-input {
  margin: 0.8rem;
  border: 1px solid rgba(175, 173, 173, 0.356);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.24);
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

[name='password2'] {
  margin-bottom: 1.5rem;
}

.rp-password-input:focus {
  outline: none;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.055);
}

.rp-submit {
  font-size: 1rem;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  background: #5761bb;
  border: none;
  color: #fff;
  width: 100%;
}

@media (max-width: 600px) {
  .reset-password-container {
    align-items: flex-start;
  }
  .reset-password-container form {
    width: 100%;
    min-width: 340px;
  }
}

/* mobile horizontal view  */
@media only screen and (max-width: 850px) and (orientation: landscape) {
  .reset-password-container {
    height: fit-content;
  }

  .reset-password-container form {
    margin-top: 20px;
    margin-bottom: 100px;
  }
}
